:root {
    --c-bg: #171717;
    --c-text: white;
    --c-link: rgb(167, 139, 250);
    --c-focus: #404040;

    --c-input-bg: #262626;

    --c-button-bg: #7c3aed;
    --c-button-focus: rgb(167, 139, 250);

    --c-icon: rgb(167, 139, 250);
}

body {
    display: flex;
    flex-direction: column;

    min-width: 300px;
    margin: 0;
    padding: 0 20px;

    background-color: var(--c-bg);

    font-size: 16px;
    font-family: sans-serif;
    color: var(--c-text);
}

main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

*:focus {
    outline: 3px var(--c-focus) solid;
}

p {
    margin: 20px 0;
}

label,
b {
    display: block;
    margin: 20px 0 5px;

    font-size: 18px;
    font-weight: bold;
}

input,
textarea {
    display: block;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    padding: 10px;

    border: none;
    border-radius: 5px;

    box-sizing: border-box;

    font-size: 16px;

    background-color: var(--c-input-bg);
    color: var(--c-text);
}
#link {
    color: var(--c-link);
    text-decoration: underline;
}

button {
    display: block;
    margin: 20px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;

    font-size: 16px;

    background-color: var(--c-button-bg);
    color: var(--c-text);
}
button:focus {
    outline: 3px var(--c-button-focus) solid;
}

.icon > * {
    stroke: var(--c-icon);
}
#settings {
    all: unset;
    position: fixed;
    bottom: 22px;
    right: 20px;
    height: 24px;
    border-radius: 5px;
}
#settings:focus {
    outline: 3px var(--c-icon) solid;
}
